body {
}

.image1 {
    height: 499px;
    width: 571px;
}

.image2{
    width: 569px;
    height: 549px;
}

.image3{
    width: 569px;
    height: 379px;
}

.image4{
    width: 569px;
    height: 329px;
}

.image5{
    width: 569px;
    height: 520px;
}
