@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<!-- main -->

<body>
    <!-- main -->
    <main role="main-home-wrapper" class="container">
        <div class="row">
            <section>
                <article role="pge-title-content">
                    <header>
                        <h2 style="width:100%;text-align:center;margin-top:0px"><span>Categories</span></h2>
                        <hr />
                    </header>
                </article>
            </section>
        </div>
        <!--Bakeries-->
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <article role="pge-title-content">
                    <header>
                        <h2><span>Baking</span>Brand new bakeries.</h2>
                    </header>
                    <p>These are the top trending bakery startups for this week.</p>
                </article>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <figure class="effect-oscar">
                    <img src="~/images/Bakeries/CharliesBakey.jpg" alt="" class="img-responsive image1" />
                    <figcaption>
                        <h2><span>Charlies Bakery</span></h2>
                        <p>Mucking Afazing Cakes & home of Charly's Cake Angels reality TV show</p>
                        <a href="works-details.html">View more</a>
                    </figcaption>
                </figure>
            </section>
            <div class="clearfix"></div>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <ul class="grid-lod effect-2" id="grid">
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Bakeries/DinkelBakery.jpg" alt="" class="img-responsive image2" />
                            <figcaption>
                                <h2><span>Dinkel Bakery</span></h2>
                                <p>Being German, Dinkel offers traditional German delicacies, but also enough other well known treats to satisfy any bakery lover</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Bakeries/JsonBakery.jpg" alt="" class="img-responsive image4" />
                            <figcaption>
                                <h2><span>Jason Bakery</span></h2>
                                <p>Morning pitstop to the max</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <ul class="grid-lod effect-2" id="grid">
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Bakeries/KneadBakery.jpg" alt="" class="img-responsive image3" />
                            <figcaption>
                                <h2><span>Knead Bakery</span></h2>
                                <p>perfect spot for fresh bread and many Summer patio lunches.</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Bakeries/McCarthiesBakeDeli.jpg" alt="" class="img-responsive image5" />
                            <figcaption>
                                <h2><span>Mc Carthy's</span></h2>
                                <p>lunch in downtown Cape Town</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <div class="clearfix"></div>
        </div>
        <hr />
        <!--Fashion-->
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <article role="pge-title-content">
                    <header>
                        <h2><span>Fashion</span>Brand new fashion startup brands.</h2>
                    </header>
                    <p>These are the top trending fashion brand startups for this week.</p>
                </article>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <figure class="effect-oscar">
                    <img src="~/images/Fashion/alistboutiquefashion.jpg" alt="" class="img-responsive image1" />
                    <figcaption>
                        <h2><span>A-LIST</span></h2>
                        <p>THE BIG NIGHT OUT SHOW-STOPPER</p>
                        <a href="works-details.html">View more</a>
                    </figcaption>
                </figure>
            </section>
            <div class="clearfix"></div>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <ul class="grid-lod effect-2" id="grid">
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Fashion/icecherryfashion.jpg" alt="" class="img-responsive image2" />
                            <figcaption>
                                <h2><span>ICE CHERRY</span></h2>
                                <p>THE LUXURY INDULGENCE</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Fashion/kingdomfashion.jpg" alt="" class="img-responsive image4" />
                            <figcaption>
                                <h2><span>KINGDOM</span></h2>
                                <p>THE ESSENTIAL LEATHER ACCESSORY</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                <ul class="grid-lod effect-2" id="grid">
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Fashion/mememefashion.jpg" alt="" class="img-responsive image3" />
                            <figcaption>
                                <h2><span>MEMEME</span></h2>
                                <p>THE SOUTH AFRICAN DESIGNER PIECE</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effect-oscar">
                            <img src="~/images/Fashion/mungojimimafashion.jpg" alt="" class="img-responsive image5" />
                            <figcaption>
                                <h2><span>MUNGO & JEMIMA</span></h2>
                                <p>THE SIMPLE STATEMENT</p>
                                <a href="works-details.html">View more</a>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
            <div class="clearfix"></div>
        </div>

    </main>
    <!-- main -->
</body>